In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn import metrics

In [2]:
df = pd.read_csv('tumor.csv')
df.head()

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [3]:
df.shape

(683, 11)

In [4]:
df.drop([df.columns[0]], axis= 1, inplace= True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 683 entries, 0 to 682
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Clump Thickness              683 non-null    int64
 1   Uniformity of Cell Size      683 non-null    int64
 2   Uniformity of Cell Shape     683 non-null    int64
 3   Marginal Adhesion            683 non-null    int64
 4   Single Epithelial Cell Size  683 non-null    int64
 5   Bare Nuclei                  683 non-null    int64
 6   Bland Chromatin              683 non-null    int64
 7   Normal Nucleoli              683 non-null    int64
 8   Mitoses                      683 non-null    int64
 9   Class                        683 non-null    int64
dtypes: int64(10)
memory usage: 53.5 KB

In [6]:
df.describe()

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
count,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000
mean,4.442167,3.150805,3.215227,2.830161,3.234261,3.544656,3.445095,2.869693,1.603221,2.699854
std,2.820761,3.065145,2.988581,2.864562,2.223085,3.643857,2.449697,3.052666,1.732674,0.954592
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,2.000000
50%,4.000000,1.000000,1.000000,1.000000,2.000000,1.000000,3.000000,1.000000,1.000000,2.000000
75%,6.000000,5.000000,5.000000,4.000000,4.000000,6.000000,5.000000,4.000000,1.000000,4.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [7]:
df.isnull().sum()

Clump Thickness                0
Uniformity of Cell Size        0
Uniformity of Cell Shape       0
Marginal Adhesion              0
Single Epithelial Cell Size    0
Bare Nuclei                    0
Bland Chromatin                0
Normal Nucleoli                0
Mitoses                        0
Class                          0
dtype: int64

In [8]:
for i in df.columns:
    a=df[i].unique()
    len(a)
    print(i,len(a))
    if len(a)<3:
        print(a)

Clump Thickness 10
Uniformity of Cell Size 10
Uniformity of Cell Shape 10
Marginal Adhesion 10
Single Epithelial Cell Size 10
Bare Nuclei 10
Bland Chromatin 10
Normal Nucleoli 10
Mitoses 9
Class 2
[2 4]

In [9]:
df['Class'].loc[df['Class'] == 2] = 0
df['Class'].loc[df['Class'] == 4] = 1

In [10]:
x = df.drop(['Class'], axis = 1)
y = df['Class']

In [11]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(x)
pca = PCA(2)
pca.fit(X_scaled) # fitting on data
Projected_data = pca.transform(X_scaled) # transforming data

In [12]:
x_train,x_test,y_train,y_test = train_test_split(Projected_data,y,test_size=0.3,random_state=42)

In [13]:
clf_log = LogisticRegression()
clf_log.fit(x_train,y_train)
y_pred = clf_log.predict(x_test)
print(metrics.classification_report(y_test, y_pred))

print("Accuracy Score:",accuracy_score(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.97      0.98      0.98       127
           1       0.97      0.95      0.96        78

    accuracy                           0.97       205
   macro avg       0.97      0.97      0.97       205
weighted avg       0.97      0.97      0.97       205

Accuracy Score: 0.9707317073170731

In [14]:
clf_knn = KNeighborsClassifier(n_neighbors=3)
clf_knn.fit(x_train,y_train)
y_pred1 = clf_knn.predict(x_test)

print(metrics.classification_report(y_test, y_pred1))

print("Accuracy Score of KNN:",accuracy_score(y_test,y_pred1))

              precision    recall  f1-score   support

           0       0.95      0.98      0.96       127
           1       0.96      0.92      0.94        78

    accuracy                           0.96       205
   macro avg       0.96      0.95      0.95       205
weighted avg       0.96      0.96      0.96       205

Accuracy Score of KNN: 0.9560975609756097

In [15]:
clf_svc = SVC()
clf_svc.fit(x_train,y_train)
y_pred2 = clf_svc.predict(x_test)
print(metrics.classification_report(y_test, y_pred2))

print("Accuracy Score of SVC:",accuracy_score(y_test,y_pred2))

              precision    recall  f1-score   support

           0       0.98      0.98      0.98       127
           1       0.97      0.96      0.97        78

    accuracy                           0.98       205
   macro avg       0.98      0.97      0.97       205
weighted avg       0.98      0.98      0.98       205

Accuracy Score of SVC: 0.975609756097561

In [16]:
clf_dtc = DecisionTreeClassifier(criterion='entropy',random_state=7)
clf_dtc.fit(x_train,y_train)
y_pred3 = clf_dtc.predict(x_test)
print(metrics.classification_report(y_test, y_pred3))

print("Accuracy Score of decision tree:",accuracy_score(y_test,y_pred3))

              precision    recall  f1-score   support

           0       0.95      0.98      0.97       127
           1       0.97      0.91      0.94        78

    accuracy                           0.96       205
   macro avg       0.96      0.95      0.95       205
weighted avg       0.96      0.96      0.96       205

Accuracy Score of decision tree: 0.9560975609756097

In [17]:
clf_rfc = RandomForestClassifier(random_state=1)
clf_rfc.fit(x_train, y_train)
y_pred4 = clf_rfc.predict(x_test)
print(metrics.classification_report(y_test, y_pred4))


print("Accuracy Score:",accuracy_score(y_test,y_pred4))

              precision    recall  f1-score   support

           0       0.95      0.98      0.96       127
           1       0.96      0.92      0.94        78

    accuracy                           0.96       205
   macro avg       0.96      0.95      0.95       205
weighted avg       0.96      0.96      0.96       205

Accuracy Score: 0.9560975609756097

In [18]:
mlp = MLPClassifier(solver='lbfgs', random_state=0)
mlp = MLPClassifier(random_state=42)
mlp.fit(x_train, y_train)

y_pred_NN = mlp.predict(x_test)
print(metrics.classification_report(y_test, y_pred_NN))

print("Accuracy Score:",accuracy_score(y_test,y_pred_NN))

              precision    recall  f1-score   support

           0       0.98      0.98      0.98       127
           1       0.97      0.96      0.97        78

    accuracy                           0.98       205
   macro avg       0.98      0.97      0.97       205
weighted avg       0.98      0.98      0.98       205

Accuracy Score: 0.975609756097561